<a href="https://colab.research.google.com/github/Utpal-Mishra/Omdena-Egypt-Local-Chapter-2021-Notebooks/blob/main/OmdenaEgypt2021Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **IMPORT DRIVE**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

print("Drive Mounted!!!")

Mounted at /content/drive
Drive Mounted!!!

### **IMPORT LIBRARIES**

In [3]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

print("Libraries Imported!!!")

Libraries Imported!!!

### **IMPORT DATA**

In [17]:
import datetime

path = "/content/drive/MyDrive/Omdena/Egypt 2021/freshwater_withdrawals.csv"

data = pd.read_csv(path)
data = data.drop(["Unnamed: 0"], axis = 1)
data.rename(columns = {'country_name':'Country Name', 'country_iso3':'Country Code', 'year':'Year', 
              'indicator_name':'Indicator Name', 'indicator_code':'Indicator Code', 'value':'Value', 'units': 'Units'}, inplace = True)
data = data.drop(['Country Code', 'Indicator Code'], axis = 1)
print("Data Shape: ", data.shape)

data = data.sort_values(['Units', 'Indicator Name', 'Year'])
data = data.reset_index()
data = data.drop(['index'], axis = 1)
# data = data[['Year', 'Indicator Name', 'Value']]
data.head()

Data Shape:  (197, 5)

       Country Name  ...                                              Units
0  Egypt, Arab Rep.  ...   total (constant 2010 US$ GDP per cubic meter ...
1  Egypt, Arab Rep.  ...   total (constant 2010 US$ GDP per cubic meter ...
2  Egypt, Arab Rep.  ...   total (constant 2010 US$ GDP per cubic meter ...
3  Egypt, Arab Rep.  ...   total (constant 2010 US$ GDP per cubic meter ...
4  Egypt, Arab Rep.  ...   total (constant 2010 US$ GDP per cubic meter ...

[5 rows x 5 columns]

## **EXPLORATORY DATA ANALYSIS**

### **Checking Missing Values**

In [18]:
data.isna().sum()

Country Name      0
Year              0
Indicator Name    0
Value             0
Units             0
dtype: int64

### **Frequency of Indicator Names in Egypt**

In [19]:
data['Indicator Name'].value_counts()

Annual freshwater withdrawals                                                          56
People with basic handwashing facilities including soap and water                      36
People using at least basic drinking water services                                    36
People with basic handwashing facilities including soap and water (% of population)    18
People using at least basic drinking water services (% of population)                  18
Renewable internal freshwater resources                                                12
Renewable internal freshwater resources per capita (cubic meters)                      12
Water productivity                                                                      9
Name: Indicator Name, dtype: int64

## **PLOTS**

### **Plotting Functions**

In [ ]:
import plotly.express as px

def plot(df, title, name, color, dash):
  fig = go.Figure()
  fig = px.scatter(df, x=df.index, y="Value", size = "Value", color = "Value")
  fig.add_trace(go.Scatter(x=df.index, y=df.Value, name = name, line=dict(color=color, width=2, dash = dash)))
  fig.update_xaxes(title_text = "Year", rangeslider_visible=True, linewidth=2, linecolor='black', mirror=True)
  fig.update_yaxes(title_text = "Value", showline=True, linewidth=2, linecolor='black', mirror=True)
  fig.update_layout(height=500, width=1000, title_text=title, xaxis_tickangle=-90) 
  fig.show()

In [20]:
# df = data[data["Indicator Name"] == "Access to electricity, rural (% of rural population)"]
# df = df[["Year", "Value"]]
# df.set_index("Year", inplace = True)

# plot(df, "Electricity Consumption in Egypt", "Egypt Electricity Consumption", "red", "dash")